<%- include("partials/header") -%>

  <div class="container-fluid">
    <h3 class="regular-heading">About This Website</h3>
    <div class="text-section">
      <h5>Features</h5>
      <hr>
      <ul>
        <li>Choose any Pokémon (including special forms) from generations 1-8</li>
        <li>Select shiny and non-shiny Pokémon</li>
        <li>Create your own team and examine the stats of multiple Pokémon at once</li>
        <li>Remove and add as many Pokémon as you want</li>
        <li>Save your team so you can view it in the future</li>
        <li>Sort your team based on a variety of characteristics</li>
        <li>View the in-game base stats (HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed) of all Pokémon</li>
        <li>View the height/weight of all Pokémon</li>
        <li>View the abilities of all Pokémon</li>
        <li>View a few of the most notable moves of each Pokémon</li>
      </ul>
    </div>

    <div class="text-section">
      <h5>How do I use this website?</h5>
      <hr>
      <ol>
        <li>Choose a Pokémon by selecting one from the dropdown menu. You can also type the Pokémon's name;
          once you specify enough letters, the name should automatically appear in the dropdown menu.
        </li>
        <li>Once you specify the Pokémon's name, you can decide if you want the Pokémon to appear shiny or not shiny.
          Note that the only difference between a shiny and non-shiny Pokémon is the Pokémon's color.
        </li>
        <li>When you are ready, press the "Add Pokémon" button. Your Pokémon's stats should now appear!</li>
        <li>You can view the stats of multiple Pokémon at once, so you can repeat this process as many times you want.</li>
        <li>If you want to use a team in the future, click the "Save" button and enter a unique username; to load this
          saved team, all you have to do is click "Load" and enter that same username.
        </li>
      </ol>
    </div>

    <div class="text-section">
      <h5>Warnings and Tips</h5>
      <hr>
      <ul>
        <li>You cannot add the exact same Pokémon! You can only add a Pokémon's non-shiny form once, and you can only add a Pokémon's 
          shiny form once.
        </li>
        <li>If your team gets big and you are tired of scrolling up and down, you can click a Pokémon's icon near the top of the 
          "Your Team!" section. Once you click the icon, you will be automatically scrolled to that Pokémon's stats!
        </li>
      </ul>
    </div>

    <div class="text-section">
      <h5>What are base stats?</h5>
      <hr>
      <p>Base stats are once of the most important indicators of a Pokémon's competitive strength. There are six base
        stats for each Pokémon: HP (hit points), Attack, Defense, Sp. Atk (Special Attack), Sp. Def (Special Defense), and Speed. 
        Each of these base stats is a number from 1 to 255; the higher the number, the more powerful the Pokémon is in terms
        of that base stat.</p>
      <p>Note that legendary Pokémon tend to have very high base stats. Additionally, Pokémon that belong to the beginning 
        or middle of their evolution line tend to have low base stats.</p>
    </div>

    <div class="text-section">
      <h5>Why are the abilities highlighted in different colors?</h5>
      <hr>
      <p>Abilities highlighted in blue are abilities that can be found normally. Abilities highlighted in red are hidden abilities;
        to get a Pokémon with a hidden ability, you have to catch it in a special place. For more information, check out this 
        <a class="link" target="_blank" href="https://bulbapedia.bulbagarden.net/wiki/Ability#Hidden_Abilities">this article.</a>
      </p>
    </div>

    <div class="text-section">
      <h5>What if I do not know what an ability/move does?</h5>
      <hr>
      <p>To get more information about a particular ability or move, all you have to do is click on the name of the ability/move.
        You will be directed to a webpage from Serebii (a popular Pokémon database) that will describe the ability/move.</p>
    </div>

    <div class="text-section">
      <h5>What counts as a "notable move"?</h5>
      <hr>
      <p>The most notable moves are the ones that the Pokémon learns the latest. For example, since the last two moves
        Infernape learns are Flare Blitz and Calm Mind, the first two moves in Infernape's Notable Moves section are 
        Flare Blitz and Calm Mind. Note that this algorithm may change later.</p>
    </div>

    <div class="text-section">
      <h5>How did you collect data on every single Pokémon?</h5>
      <hr>
      <p>I used PokéAPI, a very popular API. Feel free to explore the <a class="link" target="_blank"
          href="https://pokeapi.co/docs/v2">documentation</a>; I found the "Pokemon" endpoint to be to the most useful
        when collecting a lot of information about a single Pokémon.</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
</body>
</html>