<%- include("partials/header") -%>

<div class="container-fluid">
  <h3 class="regular-heading">About This Website</h3>
  <div class="text-section">
    <h5>What was used to create this website?</h5>
    <hr>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>EJS</li>
      <li>A little bit of jQuery</li>
    </ul>
  </div>

  <div class="text-section">
    <h5>How did you collect data on every single Pokémon?</h5>
    <hr>
    <p>I used PokéAPI, a very popular API. Feel free to explore the <a class="link" target="_blank"
        href="https://pokeapi.co/docs/v2">documentation</a>; I found the "Pokemon" endpoint to be to the most useful
      when collecting a lot of information about a single Pokémon.</p>
  </div>
</div>