<%- include("partials/header") -%>

  <div class="container-fluid">
    <h3 class="regular-heading">Announcements</h3>
    <div class="text-section">
      <h5>July 8, 2021</h5>
      <hr>
      <p>A few cool features have been released!</p>
      <ul>
        <li>Saving/loading teams does not direct you to a new webpage anymore; you will instead be directed to a sidebar to enter your username</li>
        <li>You can sort teams based on a variety of characteristics (name, base stat total, height, weight, each individual base stat)</li>
        <li>The "Your Team!" section now has a navigation bar that shows the icons of all the Pokémon in your team</li>
        <li>You can automatically scroll to a Pokémon's stats if you click on that Pokémon's icon in the team navigation bar</li>
      </ul>
      <br>
      <p>As always, here are some features that might be coming in the future:</p>
      <ul>
        <li>A way to differentiate normal abilities and hidden abilities</li>
        <li>A smarter Notable Moves algorithm</li>
        <li>A more user-friendly Pokémon dropdown menu</li>
        <li>More sorting criteria, such as pokedex number and type</li>
      </ul>
      <br>
      <p>If you would like to give feedback or suggest new sorting criteria, please view the <a class="link" target="_blank" href="/feedback">Feedback</a> page!</p>
    </div>
    <div class="text-section">
      <h5>July 2, 2021</h5>
      <hr>
      <p>Some notable features have been implemented!</p>
      <ul>
        <li>Users can now remove any Pokémon from their team</li>
        <li>Users can clear all the Pokémon in their team</li>
        <li>Users can save their team by providing a username</li>
        <li>Users can load a previously-created team by providing the username they used to save the team</li>
      </ul>
      <br>
      <p>Now that these key features have been implemented, here are some features that are likely to come soon:</p>
      <ul>
        <li>A way to view all the moves a Pokémon can learn</li>
        <li>A way to differentiate normal abilities and hidden abilities</li>
        <li>A smarter Notable Moves algorithm</li>
        <li>A more user-friendly Pokémon dropdown menu</li>
        <li>An option to sort a team by various characteristics (A-Z, Z-A, pokedex number, highest/lowest base stats)</li>
      </ul>
      <br>
      <p>If you would like to give feedback on any of these new features, please view the <a class="link" target="_blank" href="/feedback">Feedback</a> page!</p>
    </div>
    <div class="text-section">
      <h5>June 29, 2021</h5>
      <hr>
      <p>Welcome! Here is a brief summary of what features are available right now:</p>
      <ul>
        <li>Choose any Pokémon (including special forms) from generations 1-8</li>
        <li>Select shiny and non-shiny Pokémon</li>
        <li>View the stats of multiple Pokémon at once</li>
        <li>View the in-game base stats (HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed) of all Pokémon</li>
        <li>View the height/weight of all Pokémon</li>
        <li>View the abilities of all Pokémon</li>
        <li>View a few of the most notable moves of each Pokémon</li>
      </ul>
      <br>
      <p>Of course, there are still plenty of features that have not been implemented! These are a few of my priorities at the moment:</p>
      <ul>
        <li>An option to remove a specific Pokémon from the team</li>
        <li>A way to view all the moves a Pokémon can learn</li>
        <li>A way to differentiate normal abilities and hidden abilities</li>
        <li>A smarter Notable Moves algorithm</li>
      </ul>
      <br>
      <p>If you have any feedback or any features you would like to see implemented, please view the <a class="link" target="_blank" href="/feedback">Feedback</a> page!</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
</body>
</html>