<%- include("partials/header") -%>

<div class="container-fluid">
  <h3 class="regular-heading">Announcements</h3>
  <div class="text-section">
    <h5>June 28, 2021</h5>
    <hr>
    <p>Welcome! Stats Master officially releases today! Here is a brief summary of what features are available right now:</p>
    <ul>
      <li>Choose any Pokémon (including special forms) from generations 1-8</li>
      <li>Select shiny and non-shiny Pokémon</li>
      <li>View the stats of multiple Pokémon at once</li>
      <li>View the in-game base stats (HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed) of all Pokémon</li>
      <li>View the height/weight of all Pokémon</li>
      <li>View the abilities of all Pokémon</li>
      <li>View a few of the most notable moves of each Pokémon</li>
    </ul>
    <br>
    <p>Of course, there are still plenty of features that have not been implemented! These are a few of my priorities at the moment:</p>
    <ul>
      <li>An option to remove a specific Pokémon from the team</li>
      <li>A way to view all the moves a Pokémon can learn</li>
      <li>A way to differentiate normal abilities and hidden abilities</li>
      <li>A smarter Notable Moves algorithm</li>
    </ul>
    <br>
    <p>If you have any feedback or any features you would like to see implemented, please view the <a class="link" target="_blank" href="/feedback">Feedback</a> page!</p>
  </div>
</div>
