<%- include("partials/header") -%>

  <div class="container-fluid">
    <h3 class="regular-heading">Feedback</h3>

    <div class="text-section">
      <h5>What feedback should I give?</h5>
      <hr>
      <p>Any amount of feedback is appreciated! If you are reporting any errors, please be specific about how you
        encountered that error.</p>
      <br>
      <p>If you want to give feedback but do not know where to start, here are a few topics you may comment on:</p>
      <ul>
        <li>The website's user interface</li>
        <li>The website's overall user experience</li>
        <li>Features you want to see implemented in the future</li>
        <li>How helpful was this website?</li>
        <li>Was this website interesting?</li>
        <li>Potential improvements on any part of the website</li>
      </ul>
    </div>

    <div class="text-section">
      <h5>Where can I write feedback?</h5>
      <hr>
      <p>You can provide your feedback by filling out this anonymous <a class="link" target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSeYu6uMMihAAmE6MsY8crrP66StsI6U1RY-tMjAITY_YJNK8A/viewform?usp=sf_link">Google
          Form</a>!</p>
    </div>
  </div>
</body>
</html>